body{
    font-family: Arial, Helvetica, sans-serif;
  }

#links img{
  width: 10%;
  padding-left: 1400px;
}

#technik img{
  width: 10%;
  padding-left: 1400px;
}

#kochrezepte img{
width: 10%;
padding-left: 1400px;
}

#umwelt img{
  width: 10%;
  padding-left: 1400px;
  }

  #schulmodus img{
    width: 10%;
    padding-left: 1400px;
    }

    #socialmedia img{
      width: 10%;
      padding-left: 1400px;
      }